@media only screen and (max-width: 960px) {
    .price-and-sharpContact-box {
        display: flex;
        height: 535px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .price-box, .sharpContact-box {
        width: 100%;
    }

    .sharpContact-box {
        gap: 10px;
    }
    .price-box {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .sharp-box {
        border-left: 2px solid #b91f33;
        border-bottom: 2px solid #b91f33;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    #hr-red-sharp-contact {
        display: none;
    }
    .contact-box {
        border-left: 2px solid #b91f33;
        border-top-right-radius: 20px;
        border-top: 2px solid #b91f33;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}



@media only screen and (max-width: 770px) {
    /* PŘI MALÉ VERZI ZMIZENÍ VELKÉHO NADPISU, MENU A ČÁRY A CELÉHO POZADÍ */
    #heading-photo-big-version, .nav-bar-lists, .hr-red-heading, .heading-photo {
        display: none;
    }

    .full-background-small-version {
        height: 80px;
        background-color: black;
        position: relative;
        transition: all 0.5s;
    }


    #title-small-main-logo,  #hamburger-small-version {
        display: block;
    }

    .menu-all-list-small-version {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 80px;
        left: 50px;
        line-height: 1.5;
        transition: all 0.5s;
        max-height: 0;
    }

    .menu-one-list-small-version {
        list-style: none;
    }

    .menu-one-list-small-version a {
        color: #fff;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: bold;
        transition: all 0.3s;
    }

    .menu-one-list-small-version a:hover {
        color: #b91f33;
        transition: all 0.3s;
    }

    #title-small-main-logo {
        position: absolute;
        top: 25px;
        left: 50px;
    }

    #hamburger-small-version {
        position: absolute;
        top: 5px;
        right: 50px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    #hamburger-small-version:hover {
        cursor: pointer;
        transform: scaleX(1.1);
    }

    /* SCRIPT */
    .biggerBackground {
        height: 220px;
        transition: all 0.5s;
    }

    .displayOn {
        display: block;
        transition: all 0.5s;
    }

}