@media only screen and (max-width: 960px) {
    .price-and-sharpContact-box {
        display: flex;
        height: 535px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .price-box, .sharpContact-box {
        width: 100%;
    }

    .sharpContact-box {
        gap: 10px;
    }
    .price-box {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .sharp-box {
        border-left: 2px solid #b91f33;
        border-bottom: 2px solid #b91f33;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    #hr-red-sharp-contact {
        display: none;
    }
    .contact-box {
        border-left: 2px solid #b91f33;
        border-top-right-radius: 20px;
        border-top: 2px solid #b91f33;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}



@media only screen and (max-width: 770px) {
    .nav-bar {
        display: none;
    }

    .hr-red-heading {
        display: none;
    }

    .heading-photo {
        display: none;
    }

    #heading-photo-big-version {
        display: none;
    }

    .heading-photo-small-version {
        display: flex;
        justify-content: space-around;
        height: 80px;
        background-color: rgb(34, 32, 32);
        width: 100%;
        position: fixed;
        z-index: 100;
        align-items: center;
    }

    #heading-photo-small-version-img {
        display: block;
        
    }

    #hamburger-menu-small-version-img {
        display: block;
        transition: transform 0.5s;
    }
    
    #hamburger-menu-small-version-img:hover {
        display: block;
        transform: scaleX(110%);
        transition: transform 0.5s;
    }
}