body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

.row {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(img/kluziste-plocha.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.heading-photo {
    display: flex;
    justify-content: center;
    height: 140px;
    align-items: center;
}

.heading-photo img {
    width: 285px;
}

.nav-bar-lists {
    display: flex;
    padding: 0;
    justify-content: center;
    list-style: none;
    gap: 20px;
    width: 100%;
    margin: 0 0 20px 0;
}

.nav-bar-list a:visited,
.nav-bar-list a:link {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 0px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    
}
.nav-bar-list a:hover,
.nav-bar-list a:active {
    text-decoration: none;
    color: #b91f33;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #b91f33;
    padding-bottom: 10px;
    transition: all 0.3s;
}

#main-heading {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: 150px;
    letter-spacing: 1.8px;
    word-spacing: 1.5px;
    line-height: 1.8;
}
.hr-red-heading hr {
    margin: 0;
    background-color: #b91f33;
    height: 2px;
    border: none;
}

.hr-red hr {
    margin: 0;
    background-color: #b91f33;
    height: 2px;
    border: none;
}

.hr-white hr {
    margin: 10px 0 0 0;
    background-color: #fff;
    height: 2px;
    border: none;
}

.heading-title h2 {
    text-align: center;
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 32px;
}
.heading-title-black h2 {
    text-align: center;
    margin: 0;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 32px;
}
.bold-letters {
    text-decoration: underline;
    text-decoration-color: #b91f33;
}

.partners {
    
}

.partners-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners-photos img {
    margin: 17px;
    height: 60px;
    border-bottom: 2px transparent #b91f33;
}
.partners-photos img:hover {
    border-bottom: 2px solid #b91f33;
    padding-bottom: 10px;
    margin-bottom: 7px;
    transition: all 0.3s;
    cursor: pointer;
}


/* MAIN */
.pricing-empty-space {
    height: 40px;
}

.price-and-sharpContact-box {
    display: flex;
}

.price-box {
    width: 50%;
    padding: 20px;
    border: 2px solid #b91f33;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: black;
    background: white;
    transition: background-color 0.5s;
}
.price-box:hover {
    background: #b91f33;
    transition: background-color 0.5s;
}
.price-box:hover .public-h3, .price-box:hover .heading-title-black-h2, .price-box:hover .list-public-skating, .price-box:hover .list-hockey  {
    color: #fff;
    transition: color 0.5s;
}
.price-box:hover .hr-red hr {
    background-color: white;
    transition: background-color 0.5s;
}
.price-box .list-public-skating, .price-box .list-hockey {
    line-height: 1.8;
}
.public-h3 {
    text-align: center;
}



.sharpContact-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.sharp-box, .contact-box {
    padding: 20px;
    height: 50%;
}
.sharp-box {
    border-top: 2px solid #b91f33;
    border-right: 2px solid #b91f33;
    border-top-right-radius: 20px;
}
.sharp-box:hover  {
    background-color: #b91f33;
    transition: background-color 0.5s;
}
.sharp-box:hover .list-opening-time, .sharp-box:hover .sharp-box-paragraph, .sharp-box:hover .heading-title-black-h2 {
    color: #fff;
    transition: color 0.5s;
}
.sharp-box:hover .hr-red hr {
    background-color: #fff;
    transition:  background-color 0.5s;
}


.contact-box {
    border-bottom: 2px solid #b91f33;
    border-right: 2px solid #b91f33;
    border-bottom-right-radius: 20px;
}
.contact-box:hover {
    background-color: #b91f33;
    transition: background-color 0.5s;
}

.contact-box:hover .heading-title-black-h2, .contact-box:hover .list-contact {
    color: #fff;
    transition: color 0.5s;
}

.contact-box:hover .hr-red hr {
    background-color: #fff;
    transition:  background-color 0.5s;
}


.contact-box .list-contact, .sharp-box .list-opening-time, .sharp-box p {
    line-height: 1.8;
}

.webkamera .hr-red {
    margin-top: 30px;
    margin-bottom: 20px;
}